.stretchToFillParent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

body {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#react-root {
  .stretchToFillParent;

  > div {
    .stretchToFillParent;
  }
}

#google-map-container {
  .stretchToFillParent;
}

.dialog-content > div {
  height: 100%;
  padding: 5px;
}